-server
-XX:+UseG1GC
-XX:G1HeapRegionSize=32M
-XX:+UseGCOverheadLimit
-XX:+ExplicitGCInvokesConcurrent
-XX:+HeapDumpOnOutOfMemoryError
-XX:+ExitOnOutOfMemoryError
-XX:ReservedCodeCacheSize=256M
-Xmx1G
-Xms1G
-XX:+UseStringDeduplication
# Voor Apple Silicon M2 Pro
-Djdk.attach.allowAttachSelf=true
-Djdk.nio.maxCachedBufferSize=262144
